* {
    -fx-font-size: 20;
    -fx-text-background-color: #0099FF;
}

#currentMonth {
    -fx-text-background-color: #0099FF;
}

#opaque {
    -fx-background-color: white;
}

#navigationButtons {
    -fx-border: black 2px;
    -fx-background-color: white;
}

.toggle-button {
    -fx-background-color: white;
    -fx-cell-size: 3;
}

.toggle-button:selected {
    -fx-background-color: gainsboro;
}

.radio-button {
    -fx-cell-size: 1;
}

.combo-box {
    -fx-border-color: lightblue;
}

.text-field {
    -fx-border-color: lightblue;
}

.scroll-bar {
    -fx-border-color: lightblue;
}
